<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/userlogin.css">
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    
    <% if (successMessages) { %>
          <p style="color: green;"><%= successMessages %></p>
  <% } %>
  
  <% if (errorMessages) { %>
          <p style="color: red;"><%= errorMessages %></p>
  <% } %>
  
    <form action="/login" method="post" id="form">
      <div class="user-box">
        <input type="email" name="email" id="email" style="color: #ffff;"/>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" id="password" style="color: #ffff"/>
        <label>Password</label>
      </div>
      <div class="submit">
        <button type="submit">Submit</button>
      </div>
      <a href="/forgetpassword" class="submitt">Forget Password</a>
      <a href="/register" class="submitt">Go to register</a>

      <div class="gbutton">
        <a href="/auth/google" class="sing">
          <button type="button">
            <img src="/images/Google_Icons-09-512.png" alt="GOOGLE">
            Sign in with Google
          </button>
        </a>
      </div>
    </form>
  </div>
</body>
</html>


